backports.functools-lru-cache==1.6.6
certifi==2021.10.8
chardet==4.0.0
click==7.1.2
cycler==0.10.0
Flask==1.1.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==2.2.5
numpy==1.16.6
pandas==0.24.2
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.27.1
six==1.16.0
subprocess32==3.5.4
urllib3==1.26.20
Werkzeug==1.0.1
